.box{
    padding-left: 2%;
    
    padding-top: 5%;
    width:95%;
    height: 300px;
    position: absolute;
    background-color: lavender;
    border: solid 1px silver;
    text-align: center;
    }
.nameholder{
    padding-left: 2em;
    padding-right: 2em;
    
} 